h1.main-page {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
}

ul.main-page {
    text-align: center;
    font-weight: 800;
    font-size: 101%;
}

.main-page.images {
    width: 33%;
}

.main-page.links-list a{
    background-color: #b15813;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
    margin: 4px;
}

.main-page.links-list a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  }