h1.main-page {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
}

ul.main-page {
    text-align: center;
    font-weight: 800;
    font-size: 101%;
}

.main-page.images {
    width: 33%;
}

.main-page.flex-container {
    background-color: gray;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    flex: 1;
}

.main-page.flex-container a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: black solid 6px;
    font-size: x-large;
  }

.flex-one a{
  color: white;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  margin: 15px;
  border: white solid 3px;
  font-size: large;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.flex-two a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    margin: 15px;
    border: white solid 3px;
    font-size: large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
  }

  .flex-three a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    margin: 15px;
    border: white solid 3px;
    font-size: large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
  }

/*.main-page.flex-container a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    margin: 15px;
    border: white solid 3px;
    font-size: large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
